<div class="profile-parent">
  <div class="left-profile">
    <div class="left-profile"></div>
    <button mat-icon-button routerLink="../..">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1 class="id-display">#{{ id }}</h1>
    <p class="center-title">{{ name }}</p>
    <div class="types-array">
      <img *ngFor="let image of typesImages" [src]="image" />
    </div>
    <mat-tab-group class="tabs" disableRipple>
      <mat-tab label="View 1">View 1 Content</mat-tab>
      <mat-tab label="View 2"
        ><mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>About this pokemon:</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{ description }}
            </p>

            <p>Height: {{ height }}</p>
            <p>Weight: {{ weight }}</p>
            <p>Specie: {{ specie }}</p>
            <p>Ability: {{ ability }}</p>
          </mat-card-content>
        </mat-card></mat-tab
      >
      <mat-tab label="View 3">
        <div class="image-array">
          <div class="tabs"></div>
          <div *ngFor="let image of evolutionsImages">
            <img [src]="image?.evolutionLink" alt="Image 1" />
            <p>{{ image.evolutionName }}</p>
          </div>
        </div></mat-tab
      >
    </mat-tab-group>
  </div>
  <div
    [ngStyle]="{
      'background-color': backgroundColor ? backgroundColor : 'white'
    }"
  >
    <div style="display: flex; justify-content: center">
      <img
        class="right-imge"
        src="{{ pokemonImage }}"
        width="400"
        height="200"
      />
    </div>
    <div
      class="button-container"
      [ngStyle]="{
        'background-color': backgroundColor ? backgroundColor : 'white'
      }"
    >
      <button
        mat-raised-button
        color="warn"
        *ngIf="isPrevious"
        (click)="loadNextPokemon(-1)"
      >
        {{ previousPokemon }}
      </button>
      <button mat-raised-button color="accent" (click)="loadNextPokemon(1)">
        {{ nextPokemon }}
      </button>
    </div>
  </div>
</div>
