.listCards {
  contain: none;
  overflow: unset;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-column-gap: 1rem; 
  grid-row-gap: 1rem; 
}
.searchBar {
  display:flex;
  justify-content: center;
  
}

