.card-size {
  max-width: 95%;
  justify-content: center;
  margin-bottom: 1%;
}

.card-size img {
  justify-content: center;
}

.imgtest {
  justify-content: center;
}
.parent {
display: flex;
  justify-content: center;
   cursor: pointer;
}